<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    {{>navbar}} 
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/saki.png" alt="saki" width="65%" class="img-fluid" title="sakiweather">
                    </figure>
                </div>
                
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Saki Weather App</p>
                        <h1>I Am A <span class="text_color">Full Stack Developer</span>, Student And A Freelancer</h1>
                        <a href="#"><button>ABOUT ME</button></a>

                    </div>
                    
                </div>
                </div>
            </div>
        </div> 
    {{>footer}}
</body>

</html> 